html, body{
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
    width:100%;
    overflow:hidden;
}
#myCanvas{
    margin:0;
    padding:0;
}
#count{
	display: inline-block;
}
#status{
	width:14px;
	height:14px;
	background-color:#FF0000;
	display: inline-block;
	margin-left:5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
